name: Metrics
on:
  schedule: [{ cron: "0 * * * *" }] # hourly
  workflow_dispatch:
  push:
    branches: [ master, main ]

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.METRICS_TOKEN }}  # ✅ ensures push works
          user: faiznau94
          template: classic
          base: header, activity, community, repositories, metadata
          filename: .cache/github-metrics.svg            # ✅ ensures diff on each run
          config_timezone: America/Vancouver

          plugin_activity: yes
          plugin_activity_limit: 10
          plugin_activity_days: 0
          plugin_activity_filter: pr
          plugin_activity_visibility: public
          plugin_activity_timestamps: true
