name: Update README

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Recent GitHub Activity - Profile Readme
        uses: Readme-Workflows/recent-activity@v2.4.1
        with:
          GH_USERNAME: "faizanu94"
          MAX_LINES: 10
          EVENT_FILTER: "PullRequestEvent"
          EVENT_FILTER_PROPS: "action=closed,merged=true"
